.campoFoto{
    width: 800px;
    height: 300px;
    margin-left: -20%;
    /*margin-right: auto;*/
    background-color: #87fcef;
    position: absolute;
    z-index: -1;
    top: 12%;
}

.campoCirculo{
    height: 250px;
    width: 250px;
    margin-right: 2rem;
    background-color: #ff8ea9;
    transform: translateX(500px);
    margin-top: 25px;
    border-radius: 50%;
}