.campoFoto{
    width: 800px;
    height: 300px;
    /* margin-left: -20%; */
    /*margin-right: auto;*/
    background-color: #87fcef;
    position: absolute;
    z-index: -1;
    top: 12%;
    -webkit-box-shadow: -10px 10px 8px -8px rgba(0,0,0,0.59);
    -moz-box-shadow: -10px 10px 8px -8px rgba(0,0,0,0.59);
    box-shadow: -10px 10px 8px -8px rgba(0,0,0,0.59);
}

.campoCirculo{
    height: 250px;
    width: 250px;
    margin-right: 2rem;
    background-color: #ff8ea9;
    transform: translateX(500px);
    margin-top: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 32px -10px rgba(0,0,0,0.68);
    -moz-box-shadow: inset 0px 0px 32px -10px rgba(0,0,0,0.68);
    box-shadow: inset 0px 0px 32px -10px rgba(0,0,0,0.68);
}